ul {
    columns: 4;
}

footer p {
    /* display: flex;
    justify-items: center;*/
    /*display: flex;
    flex-direction: column;*/
}

body {
    width: 90vw;
    height: 90vh;
    /* background-color: black;*/
    /* color: blue; */
    /*display: flex;
    flex-direction: column;*/
}

header {
    /*display: flex;
    justify-content: center;*/
}

main {
    /* display: flex;
    flex-direction: column;*/
}

footer {
    /*justify-self: center;*/
}

.bday {
    background: yellow;
}

.birthDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#student-yoB {
    width: 5%;
}

#student-moB {
    width: 5%;
}

#student-doB {
    width: 5%;
}

#addStudentButton {
    width: 10%;
}

#addStudentButton {
    width: 10%;
}

.addNew {
    /*display: flex;
    flex-direction: column;*/
}

 .remove-btn{
    width: 50px;
    height: 50px;
    padding: 0px;
    border: none;
    background: transparent;
}

.remove-img{
    width: 100%;
}

.main-title{
    text-transform: uppercase;
}

.list-element{
    color: lime;
}